<!DOCTYPE html>
<html>

<head>
    <title>Price Check</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <header id="main_header">
        <form action="/query-page/clear" method="POST">
            <button id="clear_table_btn">Clear Table</button>
        </form>
        <h1>Price Checker</h1>
    </header>
    <br>

    <div class="form_div">
        <form action="/query-page" method="POST" id="main_form">
            <input type="text" id="inp_product_code" name="inp_product_code" autocomplete="off"
                placeholder="Enter product code" size="40" required autofocus>
            <input type="submit" id="submit_btn" value="Enter">
        </form>
    </div>
    <br>

    <div>
        <table id="price_table">
            <caption id="product_alert_text">
                <% if (productNotFound) { %>
                    "<%= productNotFound %>" not found!
                        <% } else { %>
                            <br>
                            <% } %>
            </caption>
            <thead>
                <tr>
                    <th>Item No.</th>
                    <th>Item Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% if (!products || products.length==0) { %>
                    <tr>
                        <td colspan="3" align="center">No Recent Searches</td>
                    </tr>
                    <% } else { for (const product of products) { %>
                        <tr>
                            <td id="item_no_column">
                                <%= product[0] %>
                            </td>
                            <td id="item_desc_column">
                                <%= product[1] %>
                            </td>
                            <td id="price_column">
                                <%= product[2] %>
                            </td>
                        </tr>
                        <% } } %>
            </tbody>
        </table>
    </div>

    <script>
        function clearArr() {

            location.reload();
        }
    </script>
</body>

</html>